
.filter_wrapper {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.filter_button {
  cursor:pointer;
  border: 2px solid #fff;
  box-sizing: border-box;
  display: inline-block;
  text-align:center;
}
.filter_button:hover {
  background: #00d5ff;
}
.active {
  background: #00d5ff;
}

@media only screen and (max-width: 1920px) {                         /* For 1080p resolution */
  .filter_wrapper {
    margin-bottom:30px;
  }
  .filter_title {
    font-size: 25px;
    margin:15px;
  }
  .filter_button {
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 25px;
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 1280px) {                         /* For 720p resolution */
  .filter_wrapper {
    margin-bottom:20px;
  }
  .filter_title {
    font-size: 17px;
    margin:10px;
  }
  .filter_button {
    border-radius: 20px;
    padding: 7px 7px;
    font-size: 17px;
    margin: 0px 7px;
  }
}

@media only screen and (max-width: 768px) {                          /* For iPad */
  .filter_wrapper {
    margin-bottom: 25px;
  }
  .filter_title {
    font-size: 20px;
    margin:10px;
  }
  .filter_button {
    border-radius: 20px;
    padding: 7px 7px;
    font-size: 20px;
    margin: 0px 7px;
  }
}

@media only screen and (max-width: 375px) {                          /* For iPhone X */
  .filter_wrapper {
    margin-bottom:20px;
  }
  .filter_title {
    font-size: 14px;
    margin:10px;
  }
  .filter_button {
    border-radius: 20px;
    padding: 7px 7px;
    font-size: 14px;
    margin: 0px 7px;
  }
}

@media only screen and (max-width: 360px) {                         /* For 360p resolution */
  .filter_wrapper {
    margin-bottom:15px;
  }
  .filter_title {
    font-size: 12px;
    margin: 5px;
  }
  .filter_button {
    border-radius: 10px;
    padding: 7px 7px;
    font-size: 12px;
    margin: 0px 7px;
  }
}

@media only screen and (max-width: 320px) {                          /* For iPhone 5/SE */
  .filter_wrapper {
    margin-bottom:17px !important;
  }
  .filter_title {
    font-size: 9px !important;
    margin:10px;
  }
  .filter_button {
    border-radius: 20px;
    padding: 7px 7px;
    font-size: 9px !important;
    margin: 0px 5px !important;
  }
}