.movie_title{
  font-weight: bold;
}
.movie_synopsis{
  display: inline-block;
  text-align: justify;
}
.release_year div , .movie_rank div {
  border: 2px solid #000000;
  display: inline-block;
}
.release_year span, .movie_rank span {
  color: #000000;
  font-weight: bold;
}

@media only screen and (max-width: 1920px) {                   /* For 1080p resolution */
  .metadata_wrapper{
    padding-top: 30px;
  }
  .movie_title{
    font-size: 40px;
  }
  .movie_synopsis{
    margin-top: 15px;
    font-size: 30px;
    height: 150px;
  }
  .release_year div , .movie_rank div {
    font-size: 30px;
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;  
  }
  .release_year span, .movie_rank span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1280px) {                   /* For 720p resolution */
  .metadata_wrapper{
    padding-top: 20px;
  }
  .movie_title{
    font-size: 27px;
  }
  .movie_synopsis{
    margin-top: 10px;
    font-size: 20px;
    height: 100px;
  }
  .release_year div, .movie_rank div {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;  
  }
  .release_year span, .movie_rank span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {                    /* For iPad */
  .metadata_wrapper{
    padding-top: 25px;
  }
  .movie_title{
    font-size: 30px;
  }
  .movie_synopsis{
    margin-top: 10px;
    font-size: 22px;
    height: 100px;
  }
  .release_year div, .movie_rank div {
    font-size: 22px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;  
  }
  .release_year span, .movie_rank span {
    font-size: 22px;
  }
}

@media only screen and (max-width: 375px) {                    /* For iPhone X */
  .metadata_wrapper{
    padding-top: 16px;
  }
  .movie_title{
    font-size: 20px;
  }
  .movie_synopsis{
    margin-top: 6px;
    font-size: 16px;
    height: 100px;
  }
  .release_year div, .movie_rank div {
    font-size: 16px;
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;  
  }
  .release_year span, .movie_rank span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {                   /* For 360p resolution */
  .metadata_wrapper{
    padding-top: 15px;
  }
  .movie_title{
    font-size: 16px;
  }
  .movie_synopsis{
    margin-top: 5px;
    font-size: 12px;
    height: 50px;
  }
  .release_year div, .movie_rank div {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;  
  }
  .release_year span, .movie_rank span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {                    /* For iPhone 5/SE */
  .metadata_wrapper{
    padding-top: 14px;
  }
  .movie_title{
    font-size: 16px !important;
  }
  .movie_synopsis{
    margin-top: 6px;
    font-size: 12px !important;
    height: 100px;
  }
  .release_year div, .movie_rank div {
    font-size: 12px !important;
    margin-top: 8px;
    padding: 2px !important;
    border-radius: 5px;  
  }
  .release_year span, .movie_rank span {
    font-size: 14px !important;
  }
}